#article-title-container {
    justify-content: space-between;
}

#article-info {
    left: 100%;
    right: 0;
}

#article-title {
    bottom: 0;
    align-self: end;
}

#article-time {
    bottom: 0;
    align-self: end;
}
