.top-bar {
    border-radius: 0 40px 40px 0;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 5px 0 #202326;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000, 1px 1px 1px #000000;
    font-size: 40px;
    z-index: 999;
    transition: 0.3s;
    cursor: default;
    overflow-x: hidden;
    position: fixed;
    visibility: hidden;
}

.top-bar:hover {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: max-content;
}

@media screen and (max-width: 600px) {
    .top-bar {
        font-size: 20px;
    }

    #latest-post-button-nav {
        font-size: 15px;
        line-height: 2px;
        padding: 10px 2px 10px 2px;
    }

    #self-post-id-button-nav {
        font-size: 15px;
        line-height: 2px;
        padding: 10px 2px 10px 2px;
    }
}
