.middle-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0, -50%);
}

.horizontal-center {
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
}
