@import "button.css";
@import "loading.css";

@keyframes animateTop {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

html, body {
    height: 100%;
    overflow: auto;
}


#main-container {
    margin: 5%;
    justify-content: center;
}

#main-container .main-text {
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px 0 0;
}

.colorful-line {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    background: linear-gradient(to top right, #003377, #00aaaa);
}

#load-more-button {
    margin: 20px auto 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#board-name {
    font-size: small;
    font-style: italic;
}

#list {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 95%;
    transition: 0.3s;
}

#list .article-card {
    width: 250px;
    margin: 6px;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-shadow: 8px 7px 8px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 8px 7px 8px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 8px 7px 8px 0 rgba(0, 0, 0, 0.38);
}

#list .article-card:hover {
    border-color: #00aaaa;
    border-style: solid;
    border-width: medium;
}

#list .article-card:active {
    box-shadow: inset 5px 5px 7px #000000;
    border-color: #003333;
    background-color: #dcdcdc;
}

#list .article-card .article-card-title:hover {
    color: #00aaaa;
}

#list .article-card-title {
    font-size: large;
    color: #003377;
    text-overflow: ellipsis;
    position: relative;
    font-weight: bold;
    line-height: normal;
    transition: 0.3s;
}

#list .article-card-author {
    margin: 5px 0;
    font-weight: bold;
}

#list .article-card-time {
    margin: 0 0 5px;
    font-size: small;
}

#main-title {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: end;
    -webkit-align-items: flex-end;
    white-space: nowrap;
}

#page-title {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    max-height: 100px;
}


#article-container {
    display: none;
    z-index: 9998;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

#article-container .content {
    background-color: #fefefe;
    position: relative;
    margin: 20px auto;
    padding: 0 20px 20px;
    width: 90%;
    max-width: 1200px;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    animation-name: animateTop;
    animation-duration: 0.5s;
    overflow: scroll;
}

#article-container .close {
    position: relative;
    display: inline-block;
    color: #aaa;
    float: right;
    padding: 0 10px;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

@media screen and (max-width: 1000px) {
    #article-container .close {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    #article-container .close {
        font-size: 30px;
    }
}

#article-container .close:hover,
#article-container .close:focus {
    color: red;
    text-decoration: none;
    transform: scale(1.1);
    cursor: pointer;
}

#article-container .close:active {
    color: darkred;
    transform: scale(0.9);
}

#article-container .title-text {
    font-size: x-large;
    font-weight: bold;
    margin: 0 10px 10px;
    padding: 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#article-container .title {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    line-height: 1.5;
    border-radius: 10px;
    z-index: 950;
}

#article-container .article {
    line-height: 2.5;
    font-size: large;
    margin: 30px;
    word-wrap: break-word;
}

#article-container .colorful-line {
    width: 98%;
    margin: auto;
    position: relative
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 15px;
    background-color: rgb(36, 41, 46);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: small;
}

#footer > span > img {
    position: relative;
    height: 100%;
    margin: 0 5px;
}

#footer > a:link {
    color: #aaaaaa;
}

.progress-bar-container {
    position: relative;
    margin: 20px auto;
    padding: 1px;
    border: 3px solid black;
    border-radius: 10px;
    height: 10px;
    width: 50%;
    max-width: 400px;
    justify-content: start;
    display: flex;
    transition: 0.2s;
}

.progress-bar {
    height: 10px;
    background: linear-gradient(#2fcb53, #003333);
    width: 0;
    border-radius: 10px;
    display: inline-block;
    transition: 600ms;
}

#loading-icon {
    z-index: 99998;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding-bottom: calc(30% * 9 / 32);
    padding-top: calc(30% * 9 / 32);
    transition: 0.5s;
    overscroll-behavior: contain;
    display: none;
    justify-content: center;
    align-items: center;
}

#loading-icon .error-code {
    display: none;
    color: white;
    padding: 5px;
    font-weight: 700;
    text-align: center;
    font-size: large;
    background: red;
    border-radius: 10px;
}

#loading-text {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

div[class="push"] {
    background-color: rgb(247, 241, 228);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

span[class~="push-tag"], span[class~="push-userid"] {
    font-weight: 600;
}

span[class~="push-userid"] {
    color: #800000;
}

span[class~="push-content"] {
    color: rgb(75, 51, 32);
}

span[class~="push-ipdatetime"] {
    color: #aaaaaa;
    font-size: smaller;
}

div [class*="article-meta"] {
    margin: 10px 0;
    padding: 10px;
    background-color: #E0ECF8;
    border-radius: 10px;
    font-size: small;
    color: #819FF7;
}

div [class="article-meta-tag"] {
    font-weight: bold;
    color: #0000FF;
}

img[class="media"], video[class="media"], div[class="richcontent"] > img, div[class="richcontent"] > video {
    display: inline-block;
    animation-name: animateTop;
    animation-duration: 0.5s;
    max-width: 95%;
    position: relative;
    margin: auto;
    transition: 0.1s;
    left: 50%;
    transform: translateX(-50%);
}

iframe[class~="youtube-player"] {
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 95%;
    height: 40vw;
    max-width: 720px;
    max-height: 405px;
}
